.tiro-devanagari-marathi-regular {
  font-family: "Tiro Devanagari Marathi", serif;
  font-weight: 400;
  font-style: normal;
}

.tiro-devanagari-marathi-regular-italic {
  font-family: "Tiro Devanagari Marathi", serif;
  font-weight: 400;
  font-style: italic;
}


#main-container {
    overflow: auto;
}
.row-content{
    padding-bottom: 30px;
    margin-bottom: 5px;
}

.jumbotron{
    
    background-color:#fadfad ;
    
}

.text-carmine{
    color:#AB274F;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Tiro Devanagari Marathi', serif;
}

footer{
    position:static;
    background-image: linear-gradient(#fadfad, #ffdab9);
    padding: 10px 0px;
    
}